<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>VueJS实例</title>
  <script src="./js/vue.js"></script>
  <script src="./js/util.js"></script>
</head>
<body onload="init()">
  <div id="app">
    <p>{{ message }}</p>
    <input v-model="message">
    <button v-on:click="reverseMessage">Reverse Message</button>
    <ul>
      <li v-for="todo in todos">
        {{ todo.text}}
      </li>
    </ul>

    <!--综合-->
    <input v-model="newTodo" v-on:keyup.enter="addTodo">
    <ul>
      <li v-for="todo in todoss">
        <span>{{ todo.text }}</span>
        <button v-on:click="removeTodo($index)">X</button>
      </li>
    </ul>

    <p v-if="greeting">Hello!</p>
    <h1 v-if="ok">Yes</h1>
    <h1 v-else>No</h1>

    <template v-if="ok">
      <h1>Title</h1>
      <p>Paragraph1</p>
      <p>Paragraph2</p>
    </template>

    <ul id="example-1">
      <li v-for="item in items">
        {{ item.message }}
      </li>
    </ul>

    <ul id="example-2">
      <li v-for="item in items">
        {{ parentMessage }} - {{ $index }} - {{ item.message }}
      </li>
    </ul>
  </div>
</body>
</html>